
body{
    background-color: #213440;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    box-shadow: 0px 0px 10px black;
    /*margin-bottom: 20px;*/
}
.round{
    border-radius: 50%;
}

.main{
    background-color: #213440;
}
/* -navbar- */
.navbar-right .nav-item{
    margin-left: 10px;
}

footer{
    background-color: #343a40;
    color:white;
    /*bottom: 0;*/
    /*position: absolute;*/
    width: 100%;
    height:100%;
}

.form{
    margin: 0 auto;
    background-color:white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    margin-top:20px;
    padding:20px;
    width:250px;
}
#gestionproyectos_mainbundle_usuario_Registrarse{
    margin-top: 20px
}
#gestionproyectos_mainbundle_usuario_Login{
    margin-top: 20px
}

#gestionproyectos_mainbundle_tarea_Crear{
    margin-top: 20px
}

.err-msg{
    color:red;
}

/* ------------------ TAREAS ------------------------*/
.main-tareas{
    margin-top:50px;
}

.lista-tareas{
    background-color: white;
    padding:10px;
    border-radius: 5px;
    margin:0 auto;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 20px;
    flex: 1 1 auto;
}
.lista-tareas-title{
    font-size: 30px;
    font-weight: 800;
    color:rgba(100,100,100,0.5);
    text-shadow: 1px 2px 3px #f2f2f2, 0 0 0 #000, 1px 2px 3px #f2f2f2;    
    text-align: center;
}

.tareas{
    max-height:475px;    
    overflow-y: auto;
}

.tarea{
    background-color: #cfcfcf;/*#e5e5e5*/
    padding:10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: inset 0px 3px 5px #666;
}

.tarea:last-of-type {
    margin-top: 10px;
}

#crear-tarea-btn{
    margin-top:20px;
}

.no-tareas{
    text-align:center;
}
.tarea-buttons{
    display:flex;
}


.center-btns{
    width:100%;
    display:flex;
}

.center-btns>a{
    margin:0 auto;
}