{% extends '@gestionProyectosmainBundle/Resources/views/Default/index.html.twig' %}

{% block content_block %}
    <div class="form">
        {{form_start(form, {'action':'', 'method':'POST'})}} {{form_end(form)}}
    </div>
{% endblock %}